<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/pricing/">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/adminAddCategory}" th:object="${category}" method="post">
    <div class="form-group row">
        <div class="col-sm">
            <input type="text" class="form-control" th:field="*{name}" placeholder="name">
        </div>
        <div class="col">
            <select type="text" th:name="cat" class="form-control">
                <option value="" selected="selected">root</option>
                <option
                        th:each="cat: ${categoryList}"
                        th:value="${cat.id}" th:text="${cat.name}">
                </option>
            </select>
        </div>
        <div class="col-sm">
            <button th:id="category" type="submit">
                <i>add</i>
            </button>
        </div>
    </div>
    </div>
</form>
</body>
</html>